body{
    margin: 0;
    padding: 0;
}

.bg{
    margin: 0;
    padding: 0;
    width: 1920px;
    height: 1123px;
}

.logo{
    position: absolute;
    top: 29px;
    left: 844px;
}

.titulo{
    position: absolute;
    width: 238px;
    height: 39px;
    top: 67px;
    left: 338px;
    background-color: #57AEDE;
    color: #fff;
    border-radius: 5px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    letter-spacing: -0.02em;

    padding: 0 5px;
}

.titulo p{
    font-family: 'Roboto';
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
    line-height: 21px;
    letter-spacing: -0.02em;
    text-align: center;
}

.titulo-login{   
    width: 108px;
    font-family: 'Roboto';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: -0.02em;
    text-align: center;
}



.titulo-cadastro{
    width: 108px;
    font-family: 'Roboto';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: -0.02em;
    text-align: center;

}


.titulo p:hover{
    background-color: #0871BD;
    width: 108.8px;
    border-radius: 5px;
}

.login-dados{
    position: absolute;
    top: 168px;
}

.container{
    position: absolute;
    width: 914.09px;
    height: 574px;
    left: 503px;
    top: 275px;
    filter: drop-shadow(0px 0px 25px rgba(0, 0, 0, 0.1));
    background: linear-gradient(248.48deg, rgba(255, 255, 255, 0.48) 0%, rgba(255, 255, 255, 0.12) 100%);
    backdrop-filter: blur(100px);
    border: 5px solid;
    border-radius: 30px;
    border-color: rgba(255, 255, 255, 1)
rgba(255, 255, 255, 0.5);

}



.campo-login{
    position: relative;
    height: 48px;
    width: 400px;
    left: 253.05px;
    top: 0px;
    border-radius: 4px;
    padding: 4px, 16px, 4px, 16px;
    background-color: #fff;
    color: #059BE5;
    font-weight: bold;
    padding-left: 8px;    
    padding-top: 8px;
}

.campo-senha{
    position: relative;
    height: 48px;
    width: 400px;
    left: 253.05px;
    top: 0px;
    border-radius: 4px;
    padding: 4px, 16px, 4px, 16px;
    background-color: #fff;
    color: #059BE5;
    font-weight: bold;
    padding-left: 8px;    
    padding-top: 8px;
}

.container input{
    height: 25px;
    border: none;
    width: 350px;
    font-weight: bold ;
    font-size: 18px;
    font-family: 'Roboto';
    font-style: normal;
    line-height: 21px;
    letter-spacing: -0.02em;
}

.container input::placeholder{
    color: #C8C8C8;
}

.entrar{
    position: absolute;
    width: 408px;
    height: 28px;
    left: 251.05px;
    border-radius: 8px;
    color: white;
    background-color:#0084DC;
    border: none;
    font-size: 23px;
    font-weight: bold ;
    font-family: 'Roboto';
    font-style: normal;
    line-height: 21px;
    letter-spacing: -0.02em;
}

.entre-com{
    position: absolute;
    width: 376px;
    left: 269.05px;
    top: 425px;
    color: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: -0.02em;
}

.login-redes{
    position: absolute;
    width: 259px;
    left: 328.05px;
    bottom: 82px;
    display: flex;
    justify-content: space-around;
}

.button-google{
    width: 120px;
    background-color: #fff;
    border: none;
    border-radius: 5px;
}

.button-fb{
    width: 120px;
    background-color: #fff;
    border: none;
    border-radius: 5px;
}

.rodape{
    position: absolute;
    width: 376px;
    height: 84px;
    left: 772px;
    top: 993px;
}


.rodape p{
    color: #fff;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: -0.02em;
}

.icones{
    width: 113.19px;
    position: relative;
    left: 131px;
    display: flex;
    justify-content: space-between;
}